<p>
   <%= @comment.text %>
   <br />
   By: <%= link_to @comment.user.username, @comment.user %> <%= @comment.created_at.time_since %> <%= link_to 'Reply', @comment %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', @comment.item %>
