<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>email:</b>
  <%= @user.email %>
</p>

<p>
  <b>About:</b>
  <p>
  <%= @user.about %>
  </p>
</p>


<%= link_to('Edit', edit_user_registration_path) if current_user == @user %>
<%= link_to 'Back', users_path %>
