<p id="notice"><%= notice %></p>

  <h3>Username:</h3>
<p>
  <%= @user.username %>
</p>

  <h3>eMail</h3>
<p>
  <%= @user.email %>
</p>

<h3>About</h3>
<p>
   <%= @user.about %>
</p>

<h3>User Likes</h3>
<ul>
<% @user.likes.each {|item| %>
   <li><%= link_to item.title, item %></li>
<% } %>
</ul>


<%= link_to('Edit', edit_user_registration_path) if current_user == @user %>
<%= link_to 'Back', users_path %>
