<%
   @comment = Comment.new
   @comment.item = @item
   @comment.user = current_user
%>
<%= form_for(@comment) do |f| %>
   <%= f.text_area :text, :size => "60x5" %>
   <%= f.hidden_field :user_id %>
   <%= f.hidden_field :item_id %>

   <div class="actions">
      <%= f.submit :value => 'Comment' %>
   </div>
<% end %>
