<% if item %>
<tr>
   <td class="vote">
      <%= if item.user_voted?(current_user) then ' ' else link_to '+', vote_up_path(item) end %>
   </td>
   <td class="title"><%= link_to item.title, item.url %></td>
</tr>
<tr>
   <td><%= item.votes.count %></td>
   <td class="item_meta">
      By <%= link_to item.user.username, item.user %> &middot;
      <%= link_to "#{item.children.count} Comments", item %> &middot;
      <%= if item.user_flagged?(current_user) then 'Flagged' else link_to 'Flag', vote_flag_path(item) end %>
      <% if item.user == current_user %>
         &middot;
         <%= link_to 'Edit', edit_item_path(item) %>
         &middot;
         <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
   </td>
</tr>
<% end %>
