<% if item %>
<tr>
   <td class="vote">
      <%= link_to '+', vote_up_path(item) %>
   </td>
   <td class="title"><%= link_to item.title, item.url %></td>
</tr>
<tr>
   <td></td>
   <td class="item_meta">
      <%= link_to 'Flag', vote_flag_path(item) %>
      <%= link_to item.user.username, item.user %>
      <%= link_to "#{item.children.count} Comments", item %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
   </td>
</tr>
<% end %>
