<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<% if @item.url != "" %>
<p>
  <b>Url:</b>
  <%= @item.url %>
</p>

<% elsif @item.text != ""%>
<p>
  <b>Text:</b>
  <%= @item.text %>
</p>
<% end %>

<p>
  <b>User:</b>
  <%= link_to @item.user.username, @item.user %>
</p>

<%= render 'comments' %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
