<table>
<%= render :partial => 'items/item', :locals => { :item => @item } %>
</table>

<% if @item.text != ""%>
<p>
  <%= @item.text %>
</p>
<% end %>

Voters: <% @item.votes.each do |vote| %>
      <li style="margin: 0; padding: 2px; display: inline; list-style: none;" ><%= link_to vote.user.username, vote.user %></li>
   <% end %>

<p>
</p>

<%= render 'comments' %>

<% if @item.user == current_user %>
   <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
