<p>
   <b>Title:</b>
   <%= link_to @item.title, @item.url %>
</p>
<p>
   <%= link_to 'Vote', vote_up_path(@item) %>
   <%= link_to 'Flag', vote_flag_path(@item) %>
   <%= link_to @item.user.username, @item.user %>
   <%= link_to "#{@item.children.count} Comments", @item %>
   <%= link_to 'Edit', edit_item_path(@item) %>
   <%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %>
</p>

<% if @item.text != ""%>
<p>
  <%= @item.text %>
</p>
<% end %>

<%= render 'comments' %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
